<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/datatables.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/leases.css"/>
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

		<script type="text/javascript" src="js/datatables.min.js"></script>
		<script type="text/javascript" src="js/moment.min.js"></script>

		<title>{{ .Title }}</title>
	</head>

	<body>

		<div class="main">
			<h1>DHCP Leases</h1>
			<table id="leases" class="display" cellspacing="0"
					     width="100%">
				<thead>
					<tr>
						<th>Expiry date</th>
						<th>MAC Address</th>
						<th>Vendor</th>
						<th>IP Address</th>
						<th>Hostname</th>
						<th>Client ID</th>
					</tr>
				</thead>
			</table>
		</div>
	</body>


	<script>
		jQuery.fn.dataTable.render.moment = function (to) {
			return function (d, type, row) {
				var locale = window.navigator.userLanguage ||
					window.navigator.language;
				moment.locale(locale);
				var m = moment.unix(d);


				// Order and type get a number value from Moment, everything else
				// sees the rendered value
				return m.format( type === 'sort' || type === 'type' ? 'x' : to );
			};
		};
	</script>
	<script>
		$(document).ready(function() {
			$('#leases').DataTable( {
				"ajax": '/leases',
				"columns": [
					{ "data": "Expiry" },
					{ "data": "Mac" },
					{ "data": "MacVendor" },
					{ "data": "Ip" },
					{ "data": "Hostname" },
					{ "data": "ClientId" },
				],
				"columnDefs": [ {
					"targets": 0,
					"render":
						$.fn.dataTable.render.moment("LLL")
				} ],
				"order": [[ 0, "desc" ]],
				"scrollY": Math.max(200, $(window).height() - 300),
				"scroller": {
					loadingIndicator: true,
				},
			} );
		} );
	</script>
</html>
