body {
	font-family: 'Roboto', sans-serif;
	background: lightgray;
	margin: 10;
}

div.main {
	width: 70%;
	background: white;
	border: solid 1px gray;
	padding: 20;
	margin-left: auto;
	margin-right: auto;

	-moz-border-radius: 15px;
	border-radius: 15px;
}
